.gamePage{
  background-color: #ffffff;
}

.gamePage img{
  margin: 5px 5px 5px 5px;
  height: 215px;
  width: auto;
}

#content{
  margin: 5px 5px 5px 5px;
  min-height: 400px;
  width: 80%;
  text-align: center;
}

#quickInfo{
  margin: 5px 5px 5px 5px;
  border: 1px solid;
  padding: 2px 2px 2px 2px;
  min-width: 20%;
}

#leftBanner{
  float: right;
  height: auto;
}

#banner{
  padding: 5px 5px 5px 5px;
}

#bannerDiv{
  border: 1px solid Black;
}

#bannerImg{
  display: inline-block;
  vertical-align: middle;
  margin: 5px 5px 5px 5px;
  margin-right: auto;
}

#bannerTitle{
  width: 10%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

#bannerDesc{
  width: 33%;
  display: inline-block;
  vertical-align: middle;
}

body{
  min-height: 600px;
  height: 100%;
  background: linear-gradient(#3366ff, #ffffff);
  background-repeat: no-repeat;
}

header{
  text-align: center;
}

nav{
  background-color: #ffffff;
  width: 10%;
  float: left;
    height: auto;
}

nav a{
  text-decoration: none;
}

nav ul{
  list-style: none;
}

main{
  margin-left: 11%;
}
