.gamePage{
  background-color: #ffffff;
}

.gamePage img{
  margin: 5px 5px 5px 5px;
  height: 215px;
  width: auto;
}

#content{
  margin: 5px 5px 5px 5px;
  min-height: 400px;
  width: 80%;
  text-align: center;
}

#quickInfo{
  margin: 5px 5px 5px 5px;
  border: 1px solid;
  padding: 2px 2px 2px 2px;
  min-width: 20%;
}

#gameGenre, #gameRating, #gameRelease, #gamePrice{
  color: #000000;
}

#leftBanner{
  float: right;
  height: auto;
}

#banner{
  padding: 5px 5px 5px 5px;

}

#bannerDiv{
  border: 1px solid Black;
}

#bannerImg{
  display: inline-block;
  vertical-align: middle;
  margin: 5px 5px 5px 5px;
  margin-right: auto;
}

#bannerTitle{
  width: 10%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

#bannerDesc{
  width: 33%;
  display: inline-block;
  vertical-align: middle;
}

#headerImgR{
  float: right;
  width: 25%;
  height: auto;
}

#headerImgL{
  float: left;
  width: 25%;
  height: auto;
}

#conventionHeader{
  border: 1px solid #FFFFFF;
}

#gameInfo{
  color:#000000;
}

body{
  min-height: 600px;
  height: 100%;
  background: linear-gradient(#ff6201, #222222);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
}

h2{
  color: #FFFFFF;
}

h3{
  color: #FFFFFF;
}

header{
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
  height: 220px;
}

nav{
  background-color: #c0c0c0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  position: fixed;
  border-style: groove;
  border-color: #000000;
  width: 12.5%;
  float: left;
  height: auto;
}

nav a{
  text-decoration: none;
  color: #ff6201;
}

nav ul{
  list-style: none;
}

main{
  margin-left: 15%;
}

p{
  color: #FFFFFF;
}

table{
  color: #FFFFFF;
  border-collapse: collapse;
}

td{
  padding-right: 25px;
}

label{
  color: #FFFFFF;
}

footer{
  text-align: center;
  color: #FFFFFF;
}
